<!DOCTYPE html>
<html lang="en" layout:decorate="~{decorators/admin.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Item</title>
</head>
<body>
<div class="container-fluid card-body" layout:fragment="content">
    <div>
        <div class="row justify-content-center">
            <form id="formSubmit" class="shadow col-lg-6"  method="post">
                <div class="card-body text-center">
                    <h3 class="m-0 font-weight-bold text-dark">Add new item</h3>
                </div>
                <div class="card-group">
                    <h6 class="m-0 font-weight-bold text-dark">Image</h6>
                    <input class="form-control" id="image" name="image" placeholder="Name of image" th:value="${itemModel.image}"/>
                </div>
                <br>

                <div >
                    <h6 class="m-0 font-weight-bold text-dark">price</h6>
                    <input class="form-control" id="price" name="price" placeholder="Price($)" th:value="${itemModel.price}"/>
                </div>
                <br>
                <div>
                    <h6 class="m-0 font-weight-bold text-dark">Name</h6>
                    <input class="form-control" id="name" name="name" placeholder="Name of item" th:value="${itemModel.name}"/>
                </div>
                <br>
                <div >
                    <h6 class="m-0 font-weight-bold text-dark">Kind of category</h6>
                    <select class="form-control" id="categoryId" name="categoryCode">
                        <option value="">Select category</option>
                        <option th:each="category : ${categories}"
                                th:value="${category.key}"
                                th:selected="${category.key == itemModel.categoryCode}"
                                th:text="${category.value}">
                        </option>
                    </select>
                </div>
                <input type="hidden" id="id" th:value="${itemModel.id}"/>
                <br>
                <br>
                <div class="row justify-content-center card-body">
                    <div th:if="${itemModel.id} != null" class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <input class="btn btn-primary btn-user" type="button" value="Update News" id="btnAddOrUpdateItem"/>
                    </div>

                    <div th:if="${itemModel.id} == null" class="card-header flex-row align-items-center">
                        <input class="btn btn-primary btn-user" id="btnAddOrUpdateItem" type="button" value="Add news"/>
                    </div>
                </div>
            </form>
        </div>
        <button class="btn btn-primary btn-user" type="button" value="Click here" id="bButton">click here</button>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <script th:inline="javascript">
        var currentPage = [[${itemModel.page}]];
        $("#btnAddOrUpdateItem").click(function (e) {
            e.preventDefault();
            var data = {};
            var formData = $("#formSubmit").serializeArray();

            $.each(formData, function (i, v) {
                data[""+v.name+""] = v.value;
            })
            var id = $("#id").val();
            if (id == "") {
                add(data);
            } else {
                data["id"] = id;
                update(data);
            }
        });


        function add(data) {
            $.ajax({
                url: '/api/item',
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(data),
                dataType: 'json',
                success: function (result) {
                    window.location.href = "/ADMIN/item/list?message=insert_success&limit=5&page=" + currentPage;
                },
                error: function (error) {
                    window.location.href = "/ADMIN/item/list?message=error_system&limit=5&page=" + currentPage;
                }
            });
        }

        function update(data) {
            $.ajax({
                url: '/api/item',
                type: 'PUT',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(data),
                dataType: 'json',
                success: function (result) {
                    window.location.href = "/ADMIN/item/list?message=update_success&limit=5&page=" + currentPage;
                },
                error: function (error) {
                    window.location.href = "/ADMIN/item/list?message=error_system&limit=5&page=" + currentPage;
                }
            });
        }
    </script>
</div>
</body>
</html>