<!DOCTYPE html>
<html lang="en" layout:decorate="~{decorators/admin.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Category list</title>
</head>
<body>
<div class="container-fluid card-body" layout:fragment="content">
    <form id="formSubmit" th:action="@{/ADMIN/category/list}" method="get">
        <table class="table table-bordered shadow">
            <thead>
            <tr>
                <th><input data-toggle="tooltip" th:id="selectAll" title="Select All" type="checkbox"/></th>
                <th>Id</th>
                <th>Name</th>
                <th>Code</th>
                <th>
                    <a class="btn btn-primary btn-user" data-toggle="tooltip" th:href="@{/ADMIN/category/edit}"
                       title="Add news">
                        <i class="fas fa-plus-circle"></i>
                    </a>
                </th>
                <th>
                    <button class="btn btn-danger btn-user" data-toggle="tooltip" id="btnDelete"
                            onclick="warningBeforeDelete()" title="Delete News" type="button">
                        <i class='fas fa-trash-alt'></i>
                    </button>
                </th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each = "item : ${categoryModel}">
                <tr>
                    <td>
                        <input data-toggle="tooltip" th:id="'checkbox_' + ${item.id}"
                               th:title="'Select item ' + ${item.id}" name="select"
                               th:value="${item.id}" type="checkbox">
                    </td>
                    <td>[[${item.id}]]</td>
                    <td>[[${item.name}]]</td>
                    <td>[[${item.code}]]</td>
                    <td>
                        <a class="btn btn-primary btn-user" data-toggle="tooltip"
                           th:href="@{'/ADMIN/category/edit?id=' + ${item.id}}"
                           title="Edit news"> <i class="fas fa-edit"></i>
                        </a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <script th:inline="javascript">
        function warningBeforeDelete() {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    var ids = $('tbody input[name="select"]:checked').map(function () {
                        return $(this).val();
                    }).get();
                    deleteNews(ids);
                }
            })
        }

        function deleteNews(data) {
            console.log(data);
            $.ajax({
                url: '/api/category',
                type: 'DELETE',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(data),
                success: function (result) {
                    Swal.fire(
                        'Deleted!',
                        'Your file has been deleted.',
                        'success'
                    ).then(function (e) {
                        window.location.href = "/ADMIN/category/list?message=delete_success";
                    })
                },
                error: function (error) {
                    Swal.fire(
                        'Error system!'
                    ).then(function (e) {
                        window.location.href = "/ADMIN/category/list?message=error_system";
                    })
                }
            });
        }

        // select all
        $(document).ready(function() {
            $('#selectAll').change(function() {
                $("input:checkbox").prop('checked', $(this).prop("checked"));
            })
        })
    </script>
</div>
</body>
</html>